/*
 * buttons.css: slide navigation "buttons"
 */

a[class~=nav] { position: absolute; top: 78px; display: none; }
a[class~=nav] div { border-style: solid; }

a[class^="next nav"] { right: 10px; } a[class^="next nav"] div { /* next "button" */
 border-color: transparent #000 transparent #999; border-width: 32px 0 32px 32px; }

a[class^="prev nav"] { left : 10px; } a[class^="prev nav"] div { /* prev "button" */
 border-color: transparent #999 transparent #000; border-width: 32px 32px 32px 0; }

a[class~=nav] div, a[class~=nav]:active div { opacity: 0.0; }
a[class~=nav]:hover div { opacity: 0.7; }

:target a[class~=nav] { display: block; border: none !important; }


